@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@100..900&display=swap');

body
{
    padding: 10px;

    font-family: "Aleo", serif;
    font-optical-sizing: auto;

    font-style: normal;
}
